/* ユーザーのcss */
body {
    /* 背景色 */
    background-color: burlywood;
}

h1 {
    /* 中央に配置 */
    text-align: center;
    /* フォントサイズ */
    font-size: 50px;
}

h2 {
    /* 右に配置 */
    text-align: right;
}

h3 {
    /* 中央に配置 */
    text-align: center;
    /* フォントサイズ */
    font-size: 20px;
}

/* inputのtext1のCSS */
.text1 {
    /* フォントサイズ */
    font-size: 20px;
    /* 外側サイズ */
    margin-left: 11px;
}

/* inputのtext2のCSS */
.text2 {
    /* フォントサイズ */
    font-size: 20px;
}
/* inputのtext3のCSS */
.text3 {
    /* フォントサイズ */
    font-size: 20px;
    /* 外側サイズ */
    margin-left: 51px;
}

/* inputのtext4のCSS */
.text4 {
    /* フォントサイズ */
    font-size: 20px;
    /* 外側サイズ */
    margin-left: 41px;
}
/* inputのtext5のCSS */
.text5 {
    /* フォントサイズ */
    font-size: 20px;
}

/* inputのsubmitのCSS */
.submit {
    /* 中央に配置 */
    text-align: center;
    /* フォントサイズ */
    font-size: 30px;
    /* 背景色 */
    background-color:#33CCFF;
}

/* エラー画面のフォントのCSS */
.errorfont {
    /* フォントサイズ */
    font-size: 25px;
}